%h2 Register to vote

%p It's too late now to register to vote for the elections on 6 May 2010. Registrations closed for those elections on 20 April.
  
%p If you've missed out, now is the time to register so that you can vote in future elections.

%p
  You can get a registration form at the 
  %a{ :href => "http://www.aboutmyvote.co.uk/" } About My Vote 
  website or by phoning Sutton Council on 
  %span.phone 020 8770 4888.
  