%h2 Register to vote

%p
  If you're not already registered to vote you must do so by 
  %strong 20 April 
  otherwise you won't be able to take part.

%p
  You can get a registration form at the 
  %a{ :href => "http://www.aboutmyvote.co.uk/" } About My Vote 
  website or by phoning Sutton Council on 
  %span.phone 020 8770 4888.