%h1 About this website

%p
  This website was designed by 
  %a{ :href => 'http://adrianshort.co.uk' } Adrian Short
  
%p It is independent of Sutton Council, all political parties and candidates.

%p
  The code for this website is open source and managed on Github. It is hosted by Heroku.

%p
  The candidates' data comes from Sutton Council. 
  
%p
  The postcode lookup is done by UK Postcodes using open data from Ordnance Survey Code-Point Open enhanced by MySociety. I use the Ruby Pat gem to access the postcodes API.

%p
  This site is written in Ruby using the Sinatra framework. The HTML templates use Haml. The database is sqlite for development and postgresql for production, abstracted through DataMapper. Source control and deployment is done with Git.

%h2 #followfooter

%ul
  - for account in @accounts
    %li
      %a{ :href => "http://twitter.com/#{account}" }@#{account}
