%h1 About

%p
  %a{ :href => 'https://www.adrianshort.org/' }<
    Adrian Short
  made this website. The code is on
  %a{ :href => 'https://github.com/adrianshort/suttonelections' }<
    GitHub.

%p
  It's powered by data from
  %a{ :href => "http://www.sutton.gov.uk/" }<
    Sutton Council,
  %a{ :href => "http://data.london.gov.uk/" }<
    London Datastore
  and
  %a{ :href => "http://www.ordnancesurvey.co.uk/business-and-government/products/code-point-open.html" }<
    Ordnance Survey.

%p
  This is a static site 
  %a{ :href => 'https://www.netlify.com/' }<
    hosted by Netlify,
  with 
  %a{ :href => 'https://updown.io/3sbd' }<
    performance and uptime monitoring by updown.io.