%h1 About

%p
  Adrian Short made this website.
  The code is on
  %a{ :href => 'https://github.com/adrianshort/suttonelections' }
    GitHub.

%p
  It's powered by data from
  %a{ :href => "http://www.sutton.gov.uk/" }
    Sutton Council,
  %a{ :href => "http://data.london.gov.uk/" }
    London Datastore
  and
  %a{ :href => "http://www.ordnancesurvey.co.uk/business-and-government/products/code-point-open.html" }
    Ordnance Survey.
