.grid_9
  %h1= @page_title = "About this website"
  
  %p.vcard
    This website was designed and written by 
    %a.fn.url{ :href => 'http://adrianshort.co.uk' } Adrian Short
    \.
    You can contact me by email at 
    %a.email{ :href => "mailto:adrian.short@gmail.com" } adrian.short@gmail.com
    and 
    %a.url{ :href => "http://twitter.com/adrianshort" } follow me on Twitter
    \.
    
  %p.highlight This site is independent of Sutton Council, all political parties and candidates.
  
  %p Every page on this website prints beautifully.
  
  %p
    The council candidates' data comes from 
    %a{ :href => "http://www.sutton.gov.uk/index.aspx?articleid=451" }Sutton Council
    \ who also provided information on council wards and parliamentary constituencies. 
  
  %p
    This site is written in 
    %a{ :href => "http://www.ruby-lang.org/en/" }Ruby
    \ using the 
    %a{ :href => "http://www.sinatrarb.com/" }Sinatra framework.
    
  %p
    The code for this website is 
    %a{ :href => "http://github.com/adrianshort/Sutton-Elections" }open source and managed on Github.
    It is hosted by 
    %a{ :href => "http://heroku.com/" }Heroku.
    
  %p
    The postcode lookup is done by 
    %a{ :href => "http://www.uk-postcodes.com/" }UK Postcodes
    using open data from 
    %a{ :href => "http://www.ordnancesurvey.co.uk/oswebsite/opendata/" }Ordnance Survey
    enhanced by 
    %a{ :href => "http://parlvid.mysociety.org:81/os/" }MySociety
    \. I use the Ruby 
    %a{ :href => "http://github.com/steflewandowski/pat" }Pat gem
    to access the postcodes API.
    
  %p
    The page templates use 
    %a{ :href => "http://haml-lang.com/" }Haml
    and SprySoft's 
    %a{ :href => "http://www.spry-soft.com/grids/" }Variable Grid System
    \. The database is 
    %a{ :href => "http://www.sqlite.org/" }SQLite
    for development and 
    %a{ :href => "http://www.postgresql.org/" }PostgreSQL
    for production, abstracted through 
    %a{ :href => "http://datamapper.org/" }DataMapper.
  %p  
    Source control and deployment is done with 
    %a{ :href => "http://git-scm.com/" }Git.
    
  %p
    The fonts are Museo Slab and Museo Sans served by 
    %a{ :href => "http://typekit.com/" }Typekit.
