%h1 About

%p
  %a{ :href => 'https://www.adrianshort.org/' }<
    Adrian Short
  made this website. 
  %a{ :href => 'https://git.adrianshort.org/adrianshort/suttonelections' }<
    Here's the source code.

%p
  It's powered by data from
  %a{ :href => "http://www.sutton.gov.uk/" }<
    Sutton Council,
  %a{ :href => "http://data.london.gov.uk/" }<
    London Datastore
  and
  %a{ :href => "http://www.ordnancesurvey.co.uk/business-and-government/products/code-point-open.html" }<
    Ordnance Survey.
