.grid_9
  %h1 How the council election works
  
  %p On 6 May 2010 you get to choose your local councillors and to decide who runs Sutton Council for the next four years.
  
  %p Sutton borough is divided into 18 areas called wards.
  
  %p Each ward has three councillors. That makes 54 councillors for the whole borough.
  
  %p You get three votes to choose three councillors for your ward from the list of candidates.
  
  %p The three people with the most votes in each ward become the councillors for that ward.
  
  %p If a political party gets 28 or more councillors they get to run Sutton Council and decide its policies and services until the next election in four years time.
  
  
  %h2 Register to vote
  
  %p
    If you're not already registered to vote you must do so by 
    %strong 20 April 
    otherwise you won't be able to take part.
  
  %p
    You can get a registration form at the 
    %a{ :href => "http://www.aboutmyvote.co.uk/" } About My Vote 
    website or by phoning Sutton Council on 
    %span{ :class => 'phone' } 020 8770 4888.