.grid_9
  %h1= @page_title = "How the council election works"
  
  %p On 6 May 2010 you get to choose your local councillors and to help to decide who runs Sutton Council.
  
  %p Sutton borough is divided into 18 areas called wards.
  
  %p Each ward has three councillors. That makes 54 councillors for the whole borough.
  
  %p You get three votes to choose three councillors for your ward from the list of candidates.
  
  %p The three people with the most votes in each ward become the councillors for that ward.
  
  %p If a political party gets 28 or more councillors they get to run Sutton Council and decide its policies and services.
  
  %p If no party gets 28 councillors the parties have to agree among themselves who will run the council. This is called &ldquo;no overall control&rdquo;.
  
  %p Elections for Sutton Council take place every four years.
  
  = haml_partial('register-to-vote')
