%h1 Guides

%ul
  %li
    %a{ :href => '/guides/how-the-parliament-election-works' }
      How parliamentary elections work
  %li
    %a{ :href => '/guides/how-the-council-election-works' }
      How council elections work
