%h1 One day. Two elections in Sutton.

%p
  On 6 May you can vote to 
  %strong
    choose your local MP
  and help to decide the next government of the country.

%p
  And you can also
  %strong
    elect your local councillors 
  and help to decide who runs Sutton Council.

%p Who you can vote for depends on where you live. You can find your local candidates and get more information on how the elections work here.

%form{ :method => 'get', :action => '/wards' }
  %label{ :for => "postcode" } My postcode is 
  %input{ :type => 'text', :name => 'postcode', :value => 'SM1 1EA', :size => 8, :maxlength => 8 }
  %input{ :type => 'submit', :value => "Find it" }

-#
  %h2 Council Wards

  - for ward in @wards
    %p
      %a{ :href => "/wards/#{ward.id.to_s}" }
        = ward.name