.grid_9
  %h1
    Vote for your MP and
    %br
    councillors in Sutton
  
  %p
    On 6 May 2010 you can vote to 
    %strong choose your local MP
    and help to decide the next government of the country.
  
  %p
    You can also
    %strong elect your local councillors 
    and help to decide who runs Sutton Council.
  
  %p Who you can vote for depends on where you live. You can find your local candidates and get more information on how the elections work here.
  
  %form{ :method => 'get', :action => '/' }
    %label{ :for => "postcode" } My postcode is 
    %input{ :type => 'text', :name => 'postcode', :value => 'SM1 1EA', :size => 8, :maxlength => 8 }
    %input{ :type => 'submit', :value => "Find it" }
  
.grid_3   
  <iframe src="http://www.thestraightchoice.org/api/call.php?method=constituency&output=html&constituency=sutton_and_cheam&count=2" style="border:none; overflow:hidden;height: 800px;"></iframe>