!!! XML
!!!
%html
  %head
    %title Sutton Elections 6 May 2010
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/grid.css' }
    <script type="text/javascript" src="http://use.typekit.com/wfg6cvc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  %body
    .container_12
      -#
        #header.grid_12
          %a.date{ :href => '/' } 6 May 2010
        .clear
      #main
        = yield
      .clear  
      #footer
        .grid_12
          %p
            %a{ :href => '/' } Home
          %p
            %a{ :href => '/how-the-council-election-works' } How the council election works
          -#
            %p
              %a{ :href => '/voting' } How to vote
          %p
            %a{ :href => '/about' } About this website
          %p.credit
            Design 
            %a{ :href => "http://adrianshort.co.uk/" } Adrian Short
          .clear