!!!5
%html
  %head
    %title= @page_title ? @page_title + " - Sutton Elections" : "Sutton Elections - Your guide to voting and election results in the London Borough of Sutton"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/print.css', :media => 'print' }
  %body
    #main
      - if flash[:notice]
        #notice
          %p= flash[:notice]
      - if flash[:error]
        #error
          %p= flash[:error]
      -#
        .warning
          %h1 Local and European Elections 22 May 2014
          %p Results in the Sutton Council election are now available on this website.
          %p Results in the European Parliament election are expected on Sunday 25 May late afternoon/evening.
      = yield
    #footer
      #footer_inner
        %h1 Sutton Elections
        %p
          %a{ :href => '/' } Home
        %p
          %a{ :href => '/bodies' } Bodies
        %p
          %a{ :href => '/candidates' } Candidates
        %p
          %a{ :href => '/polling-stations' } Polling stations
        %p
          %a{ :href => '/how-the-parliament-election-works' } How parliamentary elections work
        %p
          %a{ :href => '/how-the-council-election-works' } How council elections work
        %p
          %a{ :href => '/about' } About this website
        %p
        %p
          An independent website designed by
          %a{ :href => "https://adrianshort.org/" }<
            Adrian Short
        %p  
          Powered by data from 
          %a{ :href => "http://www.sutton.gov.uk/" }<
            Sutton Council
          , 
          %a{ :href => "http://data.london.gov.uk/"}
            London Datastore
          and
          %a{ :href => "http://www.ordnancesurvey.co.uk/business-and-government/products/code-point-open.html" }<
            Ordnance Survey          

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-3042981-17");
  pageTracker._trackPageview();
  } catch(err) {}</script>