!!! Strict
%html
  %head
    %title Find My Candidates
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'style.css' }
    %body
      #header
        %h1
          %a{ :href => '/' } Find My Candidates
      #main
        = yield
      #footer
        %p
          Design 
          %a{ :href => "http://adrianshort.co.uk/" } Adrian Short