!!!5
%html
  %head
    %title= page_title > ""? page_title + " &middot; Sutton Elections" : "Sutton Elections &middot; Your guide to voting and election results in the London Borough of Sutton"
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %meta{ :name => 'referrer', :content => 'no-referrer' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
  %body

    #header.noprint
      #header_inner
        %h1 Sutton Elections
        %ul.menu
          %li
            %a{ :href => '/' } Home
          - Body.each do |body|
            %li
              %a{ :href => "/bodies/#{body.slug}" }<
                = body.name
          %li
            %a{ :href => '/candidates' } Candidates
          %li
            %a{ :href => '/guides' } Guides
          %li
            %a{ :href => '/about' } About

    #main
    
      -# - if flash[:notice]
      -#   #notice
      -#     %p= flash[:notice]
      -# - if flash[:error]
      -#   #error
      -#     %p= flash[:error]
      = yield
