.grid_9

  %h1= @page_title = "How the parliament election works"
  
  %p On 6 May 2010 you can vote for your local member of parliament and help to decide who governs the UK.
  
  %p The UK is divided into 650 areas called constituencies. Each constituency elects one MP.
  
  %p The London Borough of Sutton has two constituencies: Sutton and Cheam, and Carshalton and Wallington.
    
  %p You get one vote to help choose the MP for your area from a list of candidates.
  
  %p The person with the most votes becomes the MP.
  
  %p If a political party gets 326 or more out of 650 MPs they can form a government to run the country.
  
  %p If no party gets 326 MPs the parties have to agree among themselves who will run the country. This is called a &ldquo;hung parliament&rdquo;.

  %p Elections for parliament must be held at least once every five years. The prime minister can choose to have an election earlier if they wish.  
  
  = haml_partial('register-to-vote')
