%h1= @page_title = "How parliament elections work"

%p In parliament elections you can vote for your local member of parliament (MP) and help to decide who governs the UK.

%p The UK is divided into 650 areas called constituencies. Each constituency elects one MP.

%p
  There are two constituencies in Sutton borough: 
  = succeed ", and " do
    %a{ :href => "/bodies/uk-parliament/constituencies/sutton-and-cheam" } Sutton and Cheam
  = succeed "." do
    %a{ :href => "/bodies/uk-parliament/constituencies/carshalton-and-wallington" } Carshalton and Wallington
  
%p You get one vote to help choose the MP for your area from a list of candidates.

%p The person with the most votes becomes the MP.

%p If a political party gets 326 or more out of 650 MPs they can form a government to run the country.

%p If no party gets 326 MPs the parties have to agree among themselves who will run the country. This is called a &ldquo;hung parliament&rdquo;.

%p Elections for parliament must be held at least once every five years. The prime minister can choose to have an election earlier if they wish.  

= haml :register, :layout => false
