%h2 Register to vote
  
%p Register now so that you can vote in future elections. If you're not registered you can't vote.

%p
  You can get a registration form at the 
  %a{ :href => "http://www.aboutmyvote.co.uk/" } About My Vote 
  website or by phoning Sutton Council on 
  %span.phone 020 8770 4888.
  