%h2 Register to vote
  
%p Register now so that you can vote in future elections and referendums. If you're not registered you can't vote.

%p 

  %a{ :href => "https://www.gov.uk/register-to-vote" }<
    Register to vote at GOV.UK
  or
  %a{ :href => "http://www.sutton.gov.uk/info/200538/electoral_services/1266/register_to_vote"}<
    find out more about voter registration at Sutton Council's website.