%h1 Voting

%h2 Voting at your polling station

%p Most people vote at their local polling station. This is usually in a school, hall or community centre near you.

%p
  The council will send you a 
  %strong poll card 
  showing you where to vote.

%p If you lose your poll card, don't worry. You can still vote as long as you are registered.

%p
  You can vote at your polling station 
  %strong between 7am and 10pm on 6 May.

%p If you don't want to vote at a polling station or are unable to get there you can:

%ul
  %li vote by post
  %li ask someone to vote for you

%h2 Voting by post

%p Anyone can apply to vote by post.

%p If you are registered to vote by post you won't be allowed to vote at a polling station.

%h2 Asking someone to vote for you

%p
  You can choose to have someone vote for you at the polling station. This is called a 
  %strong proxy vote.

%p If you want to vote by post or have someone vote for you and haven't already told Sutton Council about this, do it straight away.