body
{
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
  width: 450px;
  margin: 60px auto;
  
}

input
{
  font-size: 150%;
  text-transform: uppercase;
}

.highlight
{
  background-color: yellow;
}

#main
{
  margin: 60px 0;
}

#footer
{
  font-size: 90%;
  text-align: right;
}

a, a:visited
{
  padding: 2px 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

a:hover
{
  background-color: #fff;
  color: #333;
}

